* {
    margin: 0px;
    padding: 0px;
}

#header {
    display: flex;
    background-color: cyan;
}

.headerdiv {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#headerdiv1 {
    justify-content: right;
}

a {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

#connectLink {
    position: fixed;
    right: 0px;
    top: 25%;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 3s;
}

.img {
    transition: 2s;
    height: 30px;
    object-fit: contain;
}
.imgs {
    transition: 2s;
    height: 0px;
    object-fit: contain;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.posts,
.content {
    width: 85%;
}

.content>header {
    background-color: rgb(150, 188, 253);
    color: rgb(0, 0, 0);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

article {
    background-color: rgb(216, 235, 111);
    padding: 10px;
    margin: 7.5px;
    border: 3px solid black;
    border-radius: 15px;
}

#from,
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    gap: 10px;
    background-color: rgb(216, 235, 111);
    width: 300px;
    padding: 12px 0px;
    margin: 15px;
    border: 3px solid black;
    border-radius: 7.5px;
}

#form {
    width: 450px;
    height: 350px;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 40px;
}

#button {
    height: 30px;
    width: 60px;
    font-size: 15px;
    cursor: pointer;
}

.div1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 170px;
    gap: 10px;
    margin: 10px 10px;
}

input {
    height: 20px;
    padding: 3px;
    border: 1px solid black;
}

button {
    height: 35px;
    width: 80px;
    font-size: 15px;
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    height: 24px;
}

#footerdiv {
    display: flex;
    justify-content: center;
    color: azure;
    align-items: center;
}

#github {
    height: 20px;
    padding: 2px 5px;
}

#someoperation {
    border-top: 2px solid black;
    padding: 2.5px 0px 0px 10px;
}

textarea {
    width: 250px;
    height: 170px;
    padding: 5px;
}
#show_detail{
    cursor: pointer;
}
#profile_pic{
    height: 0px;
    width: 0px;
    object-fit: contain;
    border-radius: 50%;
    transition: 2s;
}
#detail{
    position: absolute;
    right: 0px;
    background-color: rgb(255, 204, 172);
    border: 2px solid black;
    border-radius: 10px;
}
#detail,#details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 3s;
}
#details{
    border-top: 2px solid black;
}
.detail1{
    font-size: 0px;
    transition: 2s;
}
.detailhide{
    transition: 2s;
    font-size: 15px;
    margin: 5px 10px;
    text-decoration-line: underline;
}
#hr{
    border: 0px;
}
#hr1{
    border: 0.8px;
}
.post>header>div{
    border-bottom: 2px solid black;
}