{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="from">
  <form method="post" id="form">
    <div class="div1">
      <label for="first_name">First Name :</label>
      <input type="text" name="first_name" id="first_name" required>
    </div>
    <div class="div1">
      <label for="last_name">Last Name :</label>
      <input type="text" name="last_name" id="last_name" required>
    </div>
    <div class="div1">
      <label for="email">Email :</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="div1">
      <label for="phone_num">Phone Number :</label>
      <input type="tel" name="phone_number" id="phone_number" required>
    </div>
    <div class="div1">
      <label for="username">Username :</label>
      <input type="text" name="username" id="username" required />
    </div>
    <div class="div1">
      <label for="password">Password :</label>
      <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
{% endblock %}